<div class="side-header">
  <div class="user-name">
    <%= link_to "Yosuke", "#" %>
  </div>
  <div class="create-chat">
    <%= link_to "チャットを作成する", "#" %>
  </div>
</div>
<div class="rooms">
  <div class="room-name">
    <%= link_to "techroom1", "#" %>
  </div>
  <div class="room-name">
    <%= link_to "techroom2", "#" %>
  </div>

</div>