.wrapper {
  display: flex;
}

.side-container {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
}

.user-name-btn {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-chat {
  font-size: 10px;
}

.new-chat-btn {
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc( 100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room-name {
  padding: 20px 0 40px;
}

.chat-room-btn {
  color: white;
  text-decoration: none;
}

.main-container {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100% - 300px);
}

.main-header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #fafafa;
  height: calc( 100vh - 100px - 90px);
  padding: 46px 40px 0;

}

.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;

}

<<<<<<< HEAD
.hidden {
  display: none;
}
=======
>>>>>>> parent of c6c15bb... チャット画面のフロント実装修正
