.wrapper {
  display: flex;
}

.side_container {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side_header {
  height: 100px;
  padding: 0 20px;
}

.rooms {
  background-color: #2f3e51;
  height: calc( 100vh - 100px);
  padding: 0 20px;
}

.main_container {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100% - 300px);
}

.main_header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #fafafa;
  height: calc( 100vh - 100px - 90px);
  padding: 46px 40px 0;

}

.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;

}

